.about {
  padding-top: 630px;
  padding-bottom: 2rem;
  margin-left: 1rem;
  color: #212529;
  position: relative !important;
  border-bottom: 1px solid #ced4da;
}

.about h4 {
  width: 80%;
  font-weight: 200;
  line-height: 2rem;
}

h4 span:last-child {
  font-weight: 600;
}

.about p {
  border-left: 2px solid #0a5495;
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  width: 80%;
}

.about-bg-1 {
  width: 270px;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
}

@media (min-width: 576px) {
  .about {
    padding-top: 600px;
  }

  .about-bg-1 {
    bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .about {
    padding-top: 600px;
    max-width: 880px;
    margin: 0 auto;
  }
  .about h4 {
    width: 60%;
  }
}

@media (min-width: 888px) {
}

@media (min-width: 992px) {
  .about {
    padding-top: 680px;
  }
  .about p span {
    display: block;
  }

  .about-bg-1 {
    right: 25rem;
    bottom: 3rem;
  }

  .about-bg-2 {
    position: absolute;
    right: 10rem;
    bottom: 2rem;
  }

  .about-bg-3 {
    position: absolute;
    left: -8rem;
    bottom: 8rem;
  }
}

@media (min-width: 1200px) {
  .about-bg-1 {
    right: 15rem;
    bottom: 6rem;
  }

  .about-bg-2 {
    right: 2rem;
  }
}

@media (min-width: 1400px) {
}
