.dropdown-item {
  cursor: pointer;
}

.capabilities {
  border: 1px solid #ced4da;
  border-radius: 7px;

  position: relative;
  background-color: #fbfbfb;
  margin: 0 auto;
  z-index: 2;
}
.cap-wrapper {
  padding: 0 1.2rem;
}
.tab-img {
  width: 100%;
}

.capabilities h3:first-child {
  color: #0a5495;
}

.capabilities-dropdown {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  color: #0a5495 !important;
  border-bottom: 2px solid #0a5495;
  border-radius: none !important;
}

.dropdown-toggle {
  box-shadow: none;
  outline: none;
  border-radius: 0 !important;
}

.dropdown-toggle:active,
.dropdown-toggle:focus {
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
}

.img-text h5 {
  line-height: 1.8rem;
}

.cta-started {
  border: 2px solid #0a5495;
  outline: none;
  color: #0a5495;
  background-color: #eaf5ff;
  padding: 6px 17px;
  border-radius: 4px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.img-titles {
  display: none !important;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  /* .tab-img {
    height: 282px;
  } */

  .cap-shape-1 {
    left: 0;
    width: 130px;
  }

  .cap-shape-2 {
    left: 8rem;
    bottom: 10rem;
  }

  .cap-shape-3 {
    right: 5rem;

    top: -10rem;
    width: 50px;
  }

  .cap-shape-shaded {
    right: 8rem;

    bottom: 21rem;
    width: 80px;
  }

  .capabilities {
    padding-left: 8rem;
    padding-right: 8rem;
    max-width: 850px !important;
  }
  .cap-heading {
    padding-bottom: 2rem;
  }
  .cta-started {
    margin-top: 2.5rem;
  }
  .tab-img {
    position: absolute;
    right: 0;
    width: 300px;
    bottom: 4rem;
  }
  .dropdown {
    display: none;
  }

  .img-titles {
    display: block !important;
    display: flex !important;

    color: #0a5495;
    gap: 2rem;
    cursor: pointer;
  }

  .capabilities {
    height: 460px;
  }

  .img-text {
    width: 55%;
    max-height: 100px;
    max-width: 350px;
  }

  .active {
    border-bottom: 2px solid #0a5495;
  }
}

@media (min-width: 992px) {
  .tab-img {
    max-width: 400px;
    bottom: 3.7rem;
  }
}
