.slider {
  width: 100%;
  height: 88vh;
  overflow: hidden;
  top: 0 !important;
  left: 0;
  min-width: 1300px;
}
.slider-container {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 88vh;

  top: 0;
  position: absolute;
}
.carousel-text {
  left: 0;
  bottom: 12rem;
  color: white;
  position: absolute;
  z-index: 9;
  font-weight: 100;
  width: 350px;
  max-width: 1296px;
  padding-left: 1rem;
}

h2 {
  text-transform: uppercase;
  font-size: 24px;
}

.carousel-text h2:first-child {
  font-weight: 100;
}

.carousel-text h2:nth-child(2) {
  font-weight: 700;
}

.cta-work {
  font-family: "FG-semibold";
  color: #fdff2c;
  text-decoration: none;
  padding-bottom: 2px;
}

.cta-work:hover {
  border-bottom: 2px solid #fdff2c;
}

.nav-item a:hover {
  opacity: 50% !important;
  color: white !important;
}

.nav-contact {
  pointer-events: none;
}

.text-us button:hover {
  color: black;
  background-color: white;
  transition: 300ms ease-in-out;
}

.navbar-toggler-icon {
  background-image: url(/assets/images/menus.png);
  outline: none;
}

.navbar-toggler {
  color: white;
  outline: none;
  border: none;
}

/* .carousel-item {
  width: auto;
} */

.carousel-control-prev {
  position: absolute;
  left: 0;
  height: 65vh;
}

.carousel-control-next {
  position: absolute;
  right: 0;
  height: 65vh;
}

/* .carousel-control-next {
  position: absolute;
  left: 0.5rem;
  top: 10rem;
} */

@media (min-width: 576px) {
  .slider {
    height: 100vh;
  }
  .carousel-text {
    padding-left: 5%;
  }

  .carousel-text {
    width: 500px;
  }

  .carousel-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* .slider {
    min-width: 900px;
  } */
  .carousel-text {
    /* bottom: 170px; */

    width: 50%;
  }

  h2 {
    font-size: 36px;
  }

  /* .carousel-control-prev {
    position: static;
    height: 100%;
    width: 100%;
  } */
}

@media (min-width: 992px) {
  /* .carousel-control-next,
  .carousel-control-prev {
    width: 80px;
  } */
  .slider-container {
    height: 100vh;
  }
  .carousel-text {
    bottom: 150px;
    padding-left: 0%;
    width: 50%;
  }

  .cta-work {
    font-size: 20px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 100%;
    width: 80px;
  }

  /* .carousel-control-prev {
    padding-left: 0;
  } */

  /* .carousel-control-prev {
    transform: translateX(-4rem);
    overflow: hidden;
  } */

  /* .carousel-control-prev {
    height: 100%;
  }

  .carousel-control-next {
    transform: translateX(4rem);
    overflow: hidden;
  } */
}

@media (min-width: 1200px) {
  .carousel-text {
    /* bottom: 200px; */
    padding-left: 4%;
    top: 23rem;
    width: 50%;
  }

  .slider {
    max-height: 700px !important;
  }
}

@media (min-width: 1400px) {
  .carousel-text {
    padding-left: 5%;
  }
}

@media (min-width: 1600px) {
  .carousel-text {
    padding-left: 10%;
  }

  /* .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    bottom: 25% !important;
  } */
}

@media (min-width: 1700px) {
  .carousel-text {
    /* bottom: 350px; */
    padding-left: 12%;
  }
}

@media (min-width: 1800px) {
  .carousel-text {
    /* bottom: 400px; */
    padding-left: 15%;
  }
}

@media (min-width: 1900px) {
  .carousel-text {
    /* bottom: 450px; */
  }
}
