.see-jobs .content {
  background-color: #c6e4ff;
  padding: 2rem;
}

.see-jobs {
  padding: 0 1rem;
}

.cta-jobs {
  border: 2px solid #0a5495;
  color: #0a5495;
  background-color: #eaf5ff;
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.content img {
  mix-blend-mode: multiply;
  width: 7rem;
  position: absolute;
}
.team-shape-1 {
  left: -12rem;
  top: 0;
  width: 70px;
}

.team-shape-2 {
  bottom: 0;
  left: -6rem;
  width: 45px;
}

.team-shape-shaded {
  right: -11rem;
  bottom: 13rem;
  width: 100px;
}
@media (min-width: 768px) {
  .content h3 {
    padding-top: 3.5rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .see-jobs {
    max-width: 1100px;
  }

  .content img {
    mix-blend-mode: multiply;
    width: 7rem;
    position: relative;
  }
}
