.team-profile {
  max-width: 350px;
  margin: 0 auto;
}

.mySwiper {
  position: relative;
  overflow: hidden;
  margin-left: 1rem !important;
  padding-bottom: 4rem !important;
}
/* .wrapper {
  max-width: 1200px;
} */

.team .team-profile img {
  width: 100%;
}

.controls i {
  padding: 0.8rem 4.5rem;
  background-color: #ededed;
  cursor: pointer;
}

.controls {
  text-align: center;
}

/* .team-profile-text {
  padding: 0 2rem;
} */

.role {
  color: #a5a5a5;
}

.profile-active {
  display: block !important;
}

@media (min-width: 768px) {
  .mySwiper {
    padding-left: 20px !important;
    padding-right: 30px !important;
    margin-left: 0 !important;
  }

  .controls {
    display: none;
  }

  .team-profile {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .team-profile img {
    padding: 0;
    width: 200px;
  }

  .team-profile-text {
    padding: 0;
  }
}
