/* .play-button {
 
  position: absolute;
  font-size: 72px;
  color: white;
  padding: 1rem 1.5rem;
  cursor: pointer;
  right: 30%;
  top: 200px;
} */

.play-button {
  position: absolute;
  width: 70px !important;
  right: 38%;
  top: 290px;
  cursor: pointer;
}

.team-profile {
  max-width: 100%;
  margin: 0 auto;
}
.team-profile video {
  cursor: pointer;
}
.mySwiper {
  position: relative;
  overflow: hidden;
  margin: 0 1rem !important;
}
/* .wrapper {
  max-width: 1200px;
} */

.team .team-profile img {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.prev-wrapper,
.next-wrapper {
  background: #ededed;
  padding: 0.5rem 3.7rem;
  cursor: pointer;
  width: 47%;
}

.prev-wrapper img,
.next-wrapper img {
  width: 50px;
}
/* .controls i {
  padding: 0.8rem 4.5rem;
  background-color: #ededed;
  cursor: pointer;
}


.controls img {
  padding: 0.8rem 4.5rem;
  background-color: #ededed;
  cursor: pointer;
} */

.controls {
  text-align: center;
}

/* .team-profile-text {
  padding: 0 2rem;
} */

.role {
  color: #a5a5a5;
}

.profile-active {
  display: block !important;
}

.team-shape-1 {
  left: 27rem;
  top: 4rem;
  width: 50px;
}

.team-slider-controls i {
  background-color: #00000080;
  border-radius: 50%;

  color: white;
  padding: 1.5rem;
  font-size: 20px;
}

.team-slider-prev {
  position: absolute;
  top: 30%;
  z-index: 999;
  left: 0;
  cursor: pointer;
}

.team-slider-next {
  position: absolute;
  top: 30%;
  z-index: 999;
  right: 0;
  cursor: pointer;
}

@media (min-width: 576px) {
  .team-profile {
    max-width: 280px;
  }

  .play-button {
    top: 220px;
  }
}

@media (min-width: 768px) {
  .mySwiper {
    padding-left: 20px !important;
    padding-right: 30px !important;
    margin-left: 0 !important;
    padding-bottom: 4rem !important;
  }

  .controls {
    display: none;
  }

  .team-profile {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .team-profile img {
    padding: 0;
    width: 200px;
  }

  .team-profile-text {
    padding: 0;
  }
}
